#data directory https://drive.google.com/drive/u/2/folders/13GwUlR3CTM-w8aTgBK-aT8oGe4cqyYWS
numpy
pandas
scikit-learn
matplotlib

#rag pipeline
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
python-dotenv

#transformer model
tensorflow
tf_keras
keras

#metadata model
torch
torchvision
torchinfo


